#timer
{
    margin: 5px;
    font-size: 120px;
    color : #f4e8c1;
    /* padding: 10px; */
}
#dropdown
 {
    margin: 5px;
} 

/* #timercontainer
{
    /* background-color: darkolivegreen; */
body
{
    /* background-color: #91C8E4; */
    background-color: #274c77;
    
}

body {
    display: flex;
    justify-content: center;
    /* horizontal */
    align-items: center;
    /* vertical */
    min-height: 100vh;
}

#friendscontainer
{

    margin: 45px;;
}
#ïnviteForm
{
    margin: 45px;
}

#leaderboard
{
    margin: 45px;
}

#button-addon2
{
   background-color:  greenyellow;
}

h2
{
    color: #f4e8c1;
    padding: 10px;
}

h3
{
    color: #f4e8c1;
   
}
h5
{
    color: #f4e8c1;
   
}
h6
{
    color: #f4e8c1;
   
}
form
{

    padding:5px;
}

:root {
     --bs-body-bg: #f4e8c1; 
}



input{
    background-color: #f4e8c1;
}

.card {
    background-color: #6096BA;
    
}
.card-title{
    color: #f4e8c1;
}
.card-text{
    color: #f4e8c1;
}
.card-subtitle{
    color: #f4e8c1;
}

.invitebtn{
    background-color: #f4e8c1;
    margin: 5px;
    
}
.navbar{
    background-color: #f4e8c1 !important;
}

.progress
{
    background-color: #f4e8c1;
    margin: 3px;
 
}

.progress-bar
{
    background-color: #274c77;
    
}

option
{
    background-color: #f4e8c1;
    
    
}
select
{
    background-color: #f4e8c1;
  
}

.butoff
{
    background-color: #f4e8c1;
}

.greytext
{
    color: rgb(77, 86, 94);
}


li {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(77, 86, 94);
}

.error
{
    color: #f4e8c1;
}


input[type='checkbox']
{
    margin: 5px;
}